/* style.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

main {
    max-width: 600px;
    margin: 20px auto;
}

form {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    display: inline-block;
}

button {
    padding: 10px;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
}

#values {
    margin-top: 20px;
    padding: 10px;
    background-color: #ddd;
    border: 1px solid #999;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
    color: #fff;
}

button, input {
    transition: background-color 0.3s, color 0.3s;
}
